@model EventsSystem_iThome.Models.EventsInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EventsInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationLimitedQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationLimitedQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventsApplicationQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventsApplicationQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullIntro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullIntro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Events)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Events.SimpleIntro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EventsInfoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
