@model IEnumerable<EventsSystem_iThome.Models.EventsInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationLimitedQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventsApplicationQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonalSite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullIntro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationLimitedQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventsApplicationQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonalSite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullIntro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Events.SimpleIntro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventsInfoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EventsInfoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EventsInfoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
